.scf-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
}
#firstName-info,
#lastName-info,
#email-info,
#subject-info,
#message-info {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 14px;
}
.ajax-loader {
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}
body.loading .ajax-loader {
    overflow: hidden;
}
body.loading .ajax-loader {
    display: block;
    position: relative;
    left: 10%;
    width: 50px;
    height: 50px;
    top: 5px;
}
.buttonGif {
    display: inline-flex;
}
input.ScfFirstName,
input.ScfLastName,
input.ScfEmail,
input.ScfSubject,
input.ScfMessage {
    width: 100%;
}
.ScfWrapper {
    width: 100%;
}
.inner {
    overflow: hidden;
    display: none;

}
a.toggle {
    text-decoration: none;
    width: 100%;
    display: block;
    color: #000;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;

}
.accordion li {
    background: #fff;
    margin: 3px;
}
ul.accordion {
    list-style-type: none;
}
ul.accordion {
    list-style-type: none;
    margin: 0;
}
.scf_formdata {
    border: 3px solid #fff;
    padding: 5px;
}
.scf_show_form_wrapper {
    border: 3px solid #fff;
    padding: 7px;
}
.scf_show_form_inner_wrapper {
    padding: 10px;
    width: 99%;
    background: #fff;
    margin: 0 auto;
}
table.scf_show_form_table {
    margin: 0;
}
table.scf_show_form_table th,
table.scf_show_form_table td {
    font-size: 12px;
}
ul.inner li {
    font-size: 12px;
}