.scf-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
}

#firstName-info,
#lastName-info,
#email-info,
#subject-info,
#message-info {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 14px;
}

.ajax-loader {
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

body.loading .ajax-loader {
    overflow: hidden;
}

body.loading .ajax-loader {
    display: block;
    position: relative;
    left: 10%;
    width: 50px;
    height: 50px;
    top: 5px;
}

.buttonGif {
    display: inline-flex;
}

input.ScfFirstName,
input.ScfLastName,
input.ScfEmail,
input.ScfSubject,
input.ScfMessage {
    width: 100%;
}

.ScfWrapper {
    width: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

div.scf_formdata {
    overflow-y: scroll;
    height: 500px;
}